<h2>Start Your Own Paradise!</h2>
<p><strong>Max Group size is 7!</strong></p>
<form [formGroup]="startClubForm" (ngSubmit)="onSubmit(startClubForm.value)" id="form">
  <div id="inputs">
    <!-- First and last Name -->
    <div id="firstFour" class="p-fluid">
      <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Group Name"
            formControlName="GroupName"
          />
        </div>
      </div>

      <!-- Genre -->
      <div class="p-col-12 p-md-4 pt-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-folder"></i></span>
          <p-dropdown
            id="dropdown"
            [options]="genres"
            optionLabel="OrganizationName"
            optionValue="OrganizationName"
            placeholder="Select Genre"
            formControlName="OrganizationName"
          ></p-dropdown>
        </div>
      </div>

      <!-- sponser name -->
      <div class="p-col-12 p-md-4 pt-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Sponser Name"
            formControlName="SponsorName"
          />
        </div>
      </div>
       <!-- sponser email -->
       <div class="p-col-12 p-md-4 pt-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Sponser Email"
            formControlName="SponsorEmail"
          />
        </div>
      </div>
      </div>
      <div id="lastFour">
       <!-- sponser phone -->
       <div class="p-col-12 p-md-4 pl-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Sponser Phone"
            formControlName="SponsorPhone"
          />
        </div>
      </div>
       <!-- group size -->
       <div class="p-col-12 p-md-4 pt-4 pl-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Group Size"
            formControlName="MaxGroupSize"
          />
        </div>
      </div>
       <!-- book of month -->
       <div class="p-col-12 p-md-4 pt-4 pl-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Book of the Month"
            formControlName="BookOfMonth"
          />
        </div>
      </div>
    </div>
  </div>
    <p-button
      label="Submit"
      type="submit"
      id="subBtn"
      class="p-button-lg"
      icon="pi pi-check" 
      iconPos="left"
    ></p-button>
  </form>
  
