h2 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#form {
    background-color: #C19875;
    padding-top: 2em;

}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

#subBtn {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #C19875;
}

#dropdown {
    flex: 1 1 auto;
    width: 1%;
}