h2 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C19875;
    padding-top: 2em;

}

#subBtn {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #C19875;
}