h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#joinBtn {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C19875;
    
}

#card {
    width: '20rem';
    margin-bottom: '2em';
    padding: 1em;
}
