<h2>Find Your Book Heaven!</h2>
<p-table #dt id="table" [columns]="cols" [value]="club" [paginator]="true" [rows]="3" responsiveLayout="scroll" [globalFilterFields]="['club.OrganizationName', 'club.GroupName', 'club.SponsorName']">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="coulmns" let-rowData let-club>
        <tr>
            <td>
                {{club.OrganizationName}}
            </td>
            <td>
                {{club.GroupName}}
            </td>
            <td>
                {{club.SponsorName}}
            </td>
            <td>
                {{club.Members.length}}
            </td>
            <td>
                {{club.BookOfMonth}}
            </td>
            <td>
                <p-button class="p-button-sm" label="Click Here" (onClick)="showDialog(club)"></p-button>
            </td>
            <td>
                <p-button class="p-button-sm" label="View Members" (onClick)="viewMembers(club)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
<h4>Don't see one you like?</h4>
<p-button id="btn" label="Start Club" (onClick)="startClubNav()"></p-button>
<p-dialog header="Join or Leave Club" [(visible)]="display" [modal]="true" [style]="{width: '30vw'}" [keepInViewport]="true" closable="true">
    Would you like to Join or Leave this Book Club?
    <ng-template pTemplate="footer">
        <span class="p-buttonset">
            <button pButton type="button" label="Join" icon="pi pi-check" (click)="joinClub()"></button>
            <button pButton type="button" label="Leave" icon="pi pi-times" (click)="leaveClub()"></button>
        </span>
    </ng-template>
</p-dialog>
<p-dialog header="Members" [(visible)]="displayMembers" [modal]="true" [style]="{width: '60vw'}" [keepInViewport]="true" closable="true">
    <ng-template pTemplate="body">
        <app-member-info [club]="selectedClub"></app-member-info>
    </ng-template>
</p-dialog>
