<h1>Welcome Book Lovers!</h1>
<div class="p-text-wrap" style="width: 10rem">
    <p>Are you looking to meet your new favorite book!? (and I guess other people who like reading too). Have you wanted to escape to a far away land with magic, or solve the murder case or even perhepas fall in love? Youve come to the right place. We have Fantasy, Romance, Mystery, Horror, Science Fiction, and Thriller books lcubs to find your next new adventure. </p>
</div>
<p-button id="register" class="p-button-rounded" label="Register" (onClick)="onRegister()"></p-button>
<p-button id="login" class="p-button-rounded" label="Log In" (onClick)="onLogin()"></p-button>
