.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    padding-top: 3em;
}

.p-button ::ng-deep {
    background-color: #F2E3BC;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

body {
    padding: 2em;
}

img {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}

.description {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

p {
    justify-items: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}